h1 {

}

.introduction {
  font-size: 1.5em;
  margin: 70px 20px;
}

.google-blue {color: #4285F4;}
.google-red {color: #EA4335;}
.google-yellow {color: #FBBC05;}
.google-green {color: #34A853;}

.project-container {
  border-style: solid;
  min-height: 300px;
  padding: 10px 10px;
  margin: 20px 20px;
}
