* {
  margin:0;
  padding:0;
}

.page-container {
  height: calc(100vh + 60px);
  /* display: flex;
  align-items: center; */
}

.intro-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction {
  font-size: 1.5em;
  margin-bottom: 22vh;
  padding: 0 40px;
  max-width: 800px;
}

h1 {
  font-family: 'Song Myung', serif;
}

.header-container {
  text-align: center;
}

.google-blue {color: #4285F4;}
.google-red {color: #EA4335;}
.google-yellow {color: #FBBC05;}
.google-green {color: #34A853;}

.project-container {
  /* min-height: 300px; */
  /* padding: 10px 10px;
  margin: 20px 20px; */
}

#pillar {
  background-image: url("/images/pillar/uw-columns.jpg");
  background-repeat: round;
  background-color: #98BEDB;
}
