p, h1, h2, h3, h4, h5, h6, ul {
  max-width: 700px;
  margin: auto;
}

ul {
  list-style-position: inside;
  padding-left: 5px;
}


figure {
  display: table;
  white-space: nowrap;
  max-width: 1000px;
  margin: auto;
  /* height: 105px; */
  /* width: 100%; */
}

.project-image {
  /* vertical-align: middle; */
  padding: 13px;
  display: table-cell;
}

.project-image img {
  max-width: 100%;
}
